name: Worker-Deploy

on:
  workflow_call:
    inputs:
      CONTAINER_NAME:
        required: true
        type: string
      NAMESPACE:
        required: true
        type: string
      SERVICE_NAME:
        required: true
        type: string
      CLUSTER_VALUES:
        required: true
        type: string
    secrets:
      SELISE_GITHUB_PAT:
        required: true
      AZURE_CREDENTIALS:
        required: true
      ClUSTER_RESOURCE_GROUP:
        required: true
      AZURE_CONTAINER_REGISTRY:
        required: true
      CLUSTER_NAME:
        required: true

env:
  SERVICE_TYPE: "worker"

jobs:
  deploy:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Set Environment Variables
        uses: ./.github/actions/setvars
        with:
          varFilePath: ./.github/variables/vars.env

      - name: Azure login
        uses: azure/login@1f63701bf3e6892515f1b7ce2d2bf1708b46beaf # v1.4.3
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: pull helm repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          repository: SELISEdigitalplatforms/l0-yml-infrastructure-helm
          token: ${{ secrets.SELISE_GITHUB_PAT }}

      - name: Get K8s context
        uses: azure/aks-set-context@90b8d62a4dcbc10dee5e91f9950cf5ea3d8617ca # v2.0
        with:
          resource-group: ${{ secrets.ClUSTER_RESOURCE_GROUP }}
          cluster-name: ${{ secrets.CLUSTER_NAME }}

      - name: Add kubelogin
        uses: azure/use-kubelogin@76597ae0fcbaace21b05e13a2cbf8daee2c6e820 # v1
        with:
          kubelogin-version: "v0.0.24"

      - name: Convert kubeconfig to use AAD
        run: |
          kubelogin convert-kubeconfig -l azurecli

      - name: Setup Helm Installer
        uses: Azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3

      - name: Deploy To Kubernetes
        run: |
          echo {{ inputs.CLUSTER_VALUES }}
          helm upgrade \
          --install ${{inputs.CONTAINER_NAME}} ./new-templates/ecap3-${{env.SERVICE_TYPE}}/ \
          --namespace=${{inputs.NAMESPACE}} \
          --values ./${{ inputs.CLUSTER_VALUES }}/${{inputs.SERVICE_NAME}}-worker.values.yaml \
          --set image.repository=${{ secrets.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ inputs.CONTAINER_NAME }} \
          --set image.tag=${{ github.sha }} \
          --set fullnameOverride=${{inputs.CONTAINER_NAME}}
