name: Build (main)
on:
  pull_request:
    types: [closed]
    branches: [main]
permissions:
  contents: read

env:
  RUN_UNIT_TEST: "true"
  RUN_SAST: "true"
  RUN_SCA: "true"
  RUN_DAST: "true"

jobs:
  initialization:
    runs-on: ubuntu-latest
    outputs:
      envvalue1: ${{ steps.setvar.outputs.envvar1 }}
      envvalue2: ${{ steps.setvar.outputs.envvar2 }}
      envvalue3: ${{ steps.setvar.outputs.envvar3 }}
      envvalue4: ${{ steps.setvar.outputs.envvar4 }}
    steps:
      - name: set value
        id: setvar
        run: |
          echo "envvar1=$RUN_UNIT_TEST" >> "$GITHUB_OUTPUT"
          echo "envvar2=$RUN_SAST" >> "$GITHUB_OUTPUT"
          echo "envvar3=$RUN_SCA" >> "$GITHUB_OUTPUT"
          echo "envvar4=$RUN_DAST" >> "$GITHUB_OUTPUT"

  test-job:
    if: ${{ needs.initialization.outputs.envvalue1=='true' && github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'dev' }}
    uses: SELISEdigitalplatforms/blocks-inventory/.github/workflows/1_unit_test.yml@main
    permissions:
      contents: read
      checks: write
      issues: write
      pull-requests: write
    with:
      COMMENT_RESULTS: true
    needs: [initialization]

  sast-job:
    if: ${{ success() && needs.initialization.outputs.envvalue2=='true' && github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'dev' }}
    uses: SELISEdigitalplatforms/blocks-inventory/.github/workflows/2_sast.yml@main
    permissions:
      contents: read
      checks: write
      pull-requests: read
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_GLOBAL }}
      SONAR_GET: ${{ secrets.SONAR_GET }}
    needs: [initialization]

  sca-job:
    if: ${{ success() && needs.initialization.outputs.envvalue3=='true' && github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'dev' }}
    uses: SELISEdigitalplatforms/blocks-inventory/.github/workflows/3_sca.yml@main
    permissions:
      contents: read
    secrets:
      DEPENDENCY_TRACK_API_KEY: ${{ secrets.DEPENDENCY_TRACK_API_KEY }}
    needs: [initialization]

  cd-job-api-build:
    if: ${{ github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'dev' }}
    uses: SELISEdigitalplatforms/blocks-inventory/.github/workflows/api.yml@main
    permissions:
      contents: write
      id-token: write
    with:
      MODE: main
      PR_NUMBER: ${{ github.event.pull_request.number }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      BLOCKSOS_REPO: ${{ secrets.BLOCKSOS_REPO }}
      SELISE_GITHUB_PAT: ${{ secrets.SELISE_GITHUB_PAT }}
    needs: [initialization, test-job, sast-job, sca-job]

  cd-job-worker-build:
    if: ${{ github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'dev' }}
    uses: SELISEdigitalplatforms/blocks-inventory/.github/workflows/worker.yml@main
    permissions:
      contents: write
      id-token: write
    with:
      MODE: main
      PR_NUMBER: ${{ github.event.pull_request.number }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      BLOCKSOS_REPO: ${{ secrets.BLOCKSOS_REPO }}
      SELISE_GITHUB_PAT: ${{ secrets.SELISE_GITHUB_PAT }}
    needs: [initialization, test-job, sast-job, sca-job]

  dast-job:
    if: ${{ needs.initialization.outputs.envvalue4=='true' && github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'dev' }}
    uses: SELISEdigitalplatforms/blocks-inventory/.github/workflows/4_dast.yml@main
    secrets:
      ZAP_API_KEY: ${{ secrets.ZAP_KEY }}
    needs: [cd-job-api-build]
